<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link href="../styles/index.css" rel='stylesheet' type='text/css'/>
    <link href="../styles/component/swiper.min.css" rel='stylesheet' type='text/css'/>
    <!--自适应方案-->
    <script src="../node_modules/lib-flexible/flexible.js?__inline"></script>

    <title>大社保</title>
</head>
<body>

<!--公共头部-->
<section class="bar-nav cMdGray clearfix">
    <div class="info_location" id="city">
        <img  src="../assets/images/share.png">
        <span class="f28">北京市</span>
    </div>
    <strong class="title">大社保</strong>
    <div class="info_content">
        <img src="../assets/images/laba.png">
        <span class="info_num">99</span>
    </div>
</section>
<section class="banner swiper-container">
     <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="../assets/images/banner1.png">    
        </div>
        <div class="swiper-slide">
            <img src="../assets/images/banner2.png">
        </div>
        <div class="swiper-slide">
            <img src="../assets/images/banner3.png">
        </div>  
     </div>
     <div class="swiper-pagination"></div>  
    
    
</section>

<section class="item-box">
    <ul class=" item-list ">
        <li class="l-c-c">
            <div class="l-c-c">
               <a href="http://api.dashebao.com/dsbapi/Jsq/socialIndex">
                <img src="../assets/images/index_1.png">
                <p>缴社保</p>
               </a>
            </div>
        </li>

        <li class="l-c-c">
            <div class="l-c-c">
              <a href="http://api.dashebao.com/dsbapi/Jsq/incomeTaxIndex">
                <img src="../assets/images/index_2.png">
                <p>缴公积金</p>
               </a>
            </div>

        </li>

        <li class="l-c-c">
            <div class="l-c-c">
                <img src="../assets/images/index_3.png">
                <p>缴纳个税</p>
            </div>
        </li>
        <li class="l-c-c">
            <div class="l-c-c">
                <img src="../assets/images/index_4.png">
                <p>公积金提取</p>
            </div>
        </li>
    </ul>
</section>

<section class="orderInfo spacing">
    <div class="l-r">
        <div class="l-r-lr l-b">
            <p><i></i><span>我的订单</span></p>
        </div>
        <div class="l-r-lr">
            <p><i class="canbaoren"></i><span>我的参保人</span></p>
        </div>
    </div>
</section>

<section class="orderJiezhi spacing">
    <h3 class="f26">北京市5月社保正常代缴截止日期还剩</h3>
    <strong>3天</strong>
    <p><span class="l">我要减员</span><span class="r jiaona">立即缴纳</span></p>
</section>

<section class="shebaoTool spacing">
    <h3 class="f28">社保工具</h3>
    <ul class=" item-list ">
        <li class="l-c-c">
            <div class="l-c-c">
                <img src="../assets/images/tool_1.png">
                <p>社保计算器</p>
            </div>
        </li>
        <li class="l-c-c">
            <div class="l-c-c">
                <img src="../assets/images/tool_2.png">
                <p>个税计算器</p>
            </div>
        </li>
        <li class="l-c-c">
            <div class="l-c-c">
                <img src="../assets/images/tool_3.png">
                <p>查定点医院</p>
            </div>
        </li>
    </ul>
</section>

<section class="shebaoTool spacing shebaoPolicy">
    <h3 class="f28">政策解读</h3>
    <ul class=" item-list ">
        <li class="l-c-c">
           <a href="http://api.dashebao.com/dsbapi/v1/relocation/fangpolicy">
            <div class="l-c-c">
                <img src="../assets/images/policy_1.png">
                <p>买房</p>
            </div>
           </a>
        </li>
        <li class="l-c-c">
           <a href="http://api.dashebao.com/dsbapi/v1/relocation/chepolicy">
            <div class="l-c-c">
                <img src="../assets/images/policy_2.png">
                <p>买车</p>
            </div>
           </a>
        </li>
        <li class="l-c-c">
          <a href="http://api.dashebao.com/dsbapi/v1/relocation/schpolicy">
            <div class="l-c-c">
                <img src="../assets/images/policy_3.png">
                <p>上学</p>
            </div>
          </a>
        </li>
        <li class="l-c-c">
          <a href="http://api.dashebao.com/dsbapi/v1/relocation/luohupolicy">
            <div class="l-c-c">
                <img src="../assets/images/policy_4.png">
                <p>落户</p>
            </div>
          </a>
        </li>
    </ul>
</section>

<section class="zhanwei"></section>

<!--底部按钮-->

<section class="footer_nav l-c-c">
    <div class="nav_unit home">
        <img src="../assets/images/index_icon1Active.png" class="active" style="display: inline">
        <img src="../assets/images/index_icon1.png" class="default" style="display: none;">

        <p><a style="color:#2196F3;">首页</a></p>
    </div>
    <div class="nav_unit ">
        <a href="http://www.sobot.com/chat/h5/index.html?sysNum=c96f472567704d76afa20b0a55713fc3">
            <img src="../assets/images/index_icon2Active.png">
            <img src="../assets/images/index_icon2.png">
            <p>在线客服</p>
        </a>
    </div>

    <div class="nav_unit">
        <img src="../assets/images/index_icon4Active.png">
        <img src="../assets/images/index_icon4.png">

        <p><a>我的</a></p>
    </div>

</section>


<section id="choose-city" class="hide">
    <section class="bar-nav clearfix">
        <a id="close" class="l">关闭</a>
        <strong class="title">选择城市</strong>
    </section>

    <div class="city">
        <div class="city-list">
            <span class="city-letter">热门城市</span>
            <p data-id="152900">上海</p>

            <p data-id="340800">广州</p>

            <p data-id="410500">深圳</p>

            <p data-id="210300">北京</p>
        </div>
        <div class="city-list">
            <span class="city-letter" id="A1">A</span>
            <p>鞍山市</p>
            <p>阿拉善盟</p>
            <div class="city-list">
                <span class="city-letter" id="B1">B</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>
            <div class="city-list">
                <span class="city-letter" id="C1">C</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>
            <div class="city-list">
                <span class="city-letter" id="D1">D</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p></div>
            <div class="city-list">
                <span class="city-letter" id="E1">E</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>
            <div class="city-list">
                <span class="city-letter" id="F1">F</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p></div>
            <div class="city-list">
                <span class="city-letter" id="G1">G</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>
            <div class="city-list">
                <span class="city-letter" id="H1">H</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="I1">I</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="J1">J</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="K1">K</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="L1">L</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="M1">M</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="N1">N</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="O1">O</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="P1">P</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="Q1">Q</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="R1">R</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="S1">S</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="T1">T</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="U1">U</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="V1">V</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="W1">W</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="X1">X</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="Y1">Y</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>

            <div class="city-list">
                <span class="city-letter" id="Z1">Z</span>
                <p>鞍山市</p>
                <p>阿拉善盟</p>
            </div>
        </div>
        <div class="letter">
            <ul>
                <li><a href="javascript:;">A</a></li>
                <li><a href="javascript:;">B</a></li>
                <li><a href="javascript:;">C</a></li>
                <li><a href="javascript:;">D</a></li>
                <li><a href="javascript:;">E</a></li>
                <li><a href="javascript:;">F</a></li>
                <li><a href="javascript:;">G</a></li>
                <li><a href="javascript:;">H</a></li>
                <li><a href="javascript:;">J</a></li>
                <li><a href="javascript:;">K</a></li>
                <li><a href="javascript:;">L</a></li>
                <li><a href="javascript:;">M</a></li>
                <li><a href="javascript:;">N</a></li>
                <li><a href="javascript:;">O</a></li>
                <li><a href="javascript:;">P</a></li>
                <li><a href="javascript:;">Q</a></li>
                <li><a href="javascript:;">R</a></li>
                <li><a href="javascript:;">S</a></li>
                <li><a href="javascript:;">T</a></li>
                <li><a href="javascript:;">W</a></li>
                <li><a href="javascript:;">X</a></li>
                <li><a href="javascript:;">Y</a></li>
                <li><a href="javascript:;">Z</a></li>
            </ul>
        </div>
    </div>
</section>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../scripts/components/swiper.min.js"></script>
<script src="../scripts/base/global.js"></script>
<script src="../scripts/components/cityChoose.js"></script>
<script src="../scripts/index.js"></script>
<script type="text/javascript">
    var mySwiper = new Swiper('.swiper-container',{
    autoplay : 3000,
    autoplayDisableOnInteraction : false,
    loop : true,
    pagination : '.swiper-pagination',
   
    })
</script>
</body>

</html>